work-obj*.cf
/.Xil
/logs
/project/fpga68881/fpga68881.runs
/project/fpga68881/fpga68881.sim
/tmp
vivado.jou
vivado.log
/project/fpga68881/fpga68881.cache
/project/fpga68881/fpga68881.hw
/project/fpga68881/fpga68881.srcs/utils_1/imports
dfx_runtime.txt
__synthesis_is_complete__
*.rpt
*.pb
*.dcp
*.jou
*.log
.tmp_report_hier.tcl
.tmp_synth_util.tcl
.tmp_run_synth_util.tcl
.claude/settings.local.json
/.claude
project/fpga68881/utilization_report.txt
/build
.worktrees
/validation/.rigel_lopper
/validation/_ide
/validation/hello_world/src/.cache
/validation/hello_world/_ide
/validation/platform-68-linux
validation/hello_world/vitis-comp.json
validation/hello_world/src/app.yaml
validation/hello_world/src/.clangd
validation/hello_world/src/CMakeLists.txt
validation/hello_world/src/compile_commands.json
validation/hello_world/src/Hello_worldExample.cmake
validation/hello_world/src/platform.c
validation/hello_world/src/platform.h
validation/hello_world/src/lscript.ld
validation/hello_world/compile_commands.json
validation/hello_world/src/UserConfig.cmake
docs/AXU3EG_User_Manual.pdf
*.x68
docs/MecbManual.pdf
validation/hello_world/src/roms/bios.bin
validation/hello_world/src/roms/bios.L68
validation/hello_world/src/roms/bios.S68
validation/hello_world/src/roms/listing.txt
*.ghw
*.vcd
